<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>리뷰 목록</title>
</head>

<body>
	{% for review in reviews %}
	<div>
		<a href="{% url 'reviews:detail' review.id %}">
			<h2>{{review.title}}</h2>
		</a>
		<h4>개봉년도 {{review.releaseYear}}</h4>
		<h4>장르 {{review.genre}}</h4>
		<h4>별점 {{review.rating}}</h4>
		<a href="{% url 'reviews:create' %}">리뷰작성</a>
	</div>
	{% endfor %}
</body>

</html>