* {
  box-sizing: border-box;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

div#header-center {
  margin: 0 auto; /* 위아래, 왼쪽오른쪽 */
  width: 1080px;
}

div#header-search a {
  text-decoration: none;
}

div#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  background-image: url(./sp_search.png);
  background-position: -4px -4px; /* 이미지를 왼쪽(-) 위쪽(-)으로 이동 */
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative; /* NAVER 로고(링크) 배치*/
  top: -6px; /* NAVER 로고(링크) 배치*/
}

div#header-search h1 span {
  display: none;
}

div#header-search h2 {
  display: none;
}

div#header-search fieldset {
  margin-left: 20px;
  padding: 12px 0 12px 10px; /*위 오른쪽 아래 왼쪽*/
  width: 521px;
  height: 49px;
  display: inline-block;
  border: 2px solid #03cf5d; /*굵기 스타일 색(hex 표기)*/
  vertical-align: middle;
  position: relative; /*position 속성값이 absolute인 button을 fieldset 기준으로 배치하기 위해 설정*/
}

div#header-search fieldset input {
  border: none;
  padding: 0; /*4방향 모두*/
  outline: none;
  vertical-align: top;
  width: 405px;
  height: 23px;
  /* input 태그는 기본적으로 inline-block이라서 가로세로 설정 가능 */
}

div#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  /* position 속성값이 absolute인 button을 fieldset을 기준으로 붙이고 싶다면 fieldset의 position을 (기본값 static이 아닌) relative로 바꿔준다. 그러면 button의 컨테이닝 블록이 fieldset으로 변경됨 */
  position: absolute;
  right: -2px;
  top: -2px;
}

#search-image {
  background-image: url(./sp_search.png);
  background-position: -3px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: 14px; /* 포지션을 배우면 margin으로 채워서 맞출필요 X */
}
