* {
  box-sizing: border-box;
}

html,
body {
  margin: 0; /*브라우저가 기본적으로 설정하는 margin과 padding 제거 */
  padding: 0;
}

#fixed {
  position: fixed; /* 컨테이닝 블럭: body? */
  top: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.center-align {
  margin: 0 auto; /* 위아래, 왼쪽오른쪽 */
  width: 1080px;
}

#header-top {
  float: right;
}

#header-search {
  clear: both;
}

#header-top span {
  color: #888888;
  letter-spacing: -1px; /* 자간 */
  font-size: 11px;
  line-height: 22px; /* 글자의 높이 고정 (font-size에 상관없이) */
  /* line-height 값이 너무 작으면 글자가 겹친다 */
}

div#header-search a {
  text-decoration: none;
}

div#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  background-image: url(./sp_search.png);
  background-position: -4px -4px; /* 이미지를 왼쪽(-) 위쪽(-)으로 이동 */
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative; /* NAVER 로고(링크) 배치*/
  top: -6px; /* NAVER 로고(링크) 배치*/
}

div#header-search h1 span {
  display: none;
}

div#header-search h2 {
  display: none;
}

div#header-search fieldset {
  margin-left: 20px;
  padding: 12px 0 12px 10px; /*위 오른쪽 아래 왼쪽*/
  width: 521px;
  height: 49px;
  display: inline-block;
  border: 2px solid #03cf5d; /*굵기 스타일 색(hex 표기)*/
  vertical-align: middle;
  position: relative; /*position 속성값이 absolute인 button을 fieldset 기준으로 배치하기 위해 설정*/
}

div#header-search fieldset input {
  border: none;
  padding: 0; /*4방향 모두*/
  outline: none;
  vertical-align: top;
  width: 405px;
  height: 23px;
  /* input 태그는 기본적으로 inline-block이라서 가로세로 설정 가능 */
}

div#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  /* position 속성값이 absolute인 button을 fieldset을 기준으로 붙이고 싶다면 fieldset의 position을 (기본값 static이 아닌) relative로 바꿔준다. 그러면 button의 컨테이닝 블록이 fieldset으로 변경됨 */
  position: absolute;
  right: -2px;
  top: -2px;
}

#search-image {
  background-image: url(./sp_search.png);
  background-position: -3px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: 14px; /* 포지션을 배우면 margin으로 채워서 맞출필요 X */
}

nav ul {
  margin: 0; /* 브라우저에서 설정한 margin 제거 */
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block; /* 가로로 나란히 나열하기 위해 */
}

nav li:first-child span:first-child {
  width: 25px;
  background-position: 0 -285px;
  margin-left: 0;
}

nav li span:first-child {
  /* 3개 정도 써본 후에, 공통되는 부분 찾아서 묶음 */
  height: 16px;
  display: inline-block;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav.png);
  background-repeat: no-repeat;
  margin-left: 14px;
}

nav li:nth-child(2) span:first-child {
  width: 27px;
  background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
  width: 40px;
  background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
  width: 40px;
  background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
  width: 26px;
  background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
  width: 25px;
  background-position: -70px -285px;
}
