{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css-reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

	<script src="https://kit.fontawesome.com/7d6a50a6b2.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<title>SWIDEA</title>
</head>

<body>
	<nav class="menu">
		<a href="{% url 'swidea:idea_list' %}">My SW Idea Manage</a>

		<a href="{% url 'swidea:idea_create' %}">아이디어 등록</a>
		<a href="{% url 'swidea:idea_list' %}">아이디어 관리</a>
		<a href="{% url 'swidea:devtool_create' %}">개발툴 등록</a>
		<a href="{% url 'swidea:devtool_list' %}">개발툴 관리</a>
	</nav>
	<br />

	<!-- 기본 템플릿 안에 삽입될 내용 Start -->
	{% block content %}
	{% endblock %}
	<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>

</html>