{% extends 'base.html' %}

{% block content %}
<h1>Idea Detail</h1>

{% if idea.image %}
<img src="{{idea.image.url}}" height="220" width="160">
{% else %}
<img src="https://picsum.photos/seed/{{idea.id}}/160/220?">
{% endif %}

<h2>{{idea.title}}</h2>

<h4>1) 아이디어 관심도:</h4>
{{idea.interest}}
<h4>2) 예상 개발 툴:</h4>
<a href="{% url 'swidea:devtool_detail' devtool.id%}">{{idea.devtool}}</a>

<h4>3) 아이디어 설명:</h4>
{{idea.content}}
<br />
<br />

<button type="button" class="btn btn-danger"><a href="{% url 'swidea:idea_delete' idea.id %}">삭제</a></button>
<button type="button" class="btn btn-primary"><a href="{% url 'swidea:idea_list' %}">목록</a></button>
<button type="button" class="btn btn-info"><a href="{% url 'swidea:idea_update' idea.id %}">수정</a></button>

{% endblock %}