{% extends 'base.html' %}

{% block content %}

<h1>DevTool Detail</h1>
<p>개발자툴 디테일 페이지</p>

<h2>{{devtool.name}}</h2>
<h4>{{devtool.kind}}</h4>
<h4>{{devtool.description}}</h4>
<hr>
<h4>만들 수 있는 SW 목록</h4>

{% for idea in ideas %}
<a href="{% url 'swidea:idea_detail' idea.id%}">{{ idea.title }}</a>

<br />
{% endfor %}
<br />
<br />

<button type="button" class="btn btn-danger"><a href="{% url 'swidea:devtool_delete' devtool.id %}">삭제</a></button>
<button type="button" class="btn btn-primary"><a href="{% url 'swidea:devtool_list' %}">목록</a></button>
<button type="button" class="btn btn-info"><a href="{% url 'swidea:devtool_update' devtool.id %}">수정</a></button>

{% endblock %}