{% extends 'base.html' %}

{% block content %}
<h1>Idea List</h1>
<p>나의 아이디어를 기록</p>
<br />

<div class="ideas">
	{% for idea in ideas %}

	{% if idea.image %}
	<img src="{{idea.image.url}}" height="220" width="160">
	{% else %}
	<img src="https://picsum.photos/seed/{{idea.id}}/160/220?">
	{% endif %}
	<br />
	<br />

	<h2><a href="{% url 'swidea:detail' idea.id %}">{{idea.title}}</a></h2>
	<hr>
	<h4>예상 개발 툴 : {{idea.devtool}}</h4>
	<h4>아이디어 관심도: {{idea.interest}}</h4>
	<button>+</button>
	<button>-</button>
	<br />
	<br />
	{% endfor%}
</div>

{% endblock %}