* {
  box-sizing: border-box;
}

button {
  background: inherit;
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

/* input {
  -webkit-appearance: none;  Safari and Chrome 
  -moz-appearance: none;  Firefox 
  appearance: none;
} */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

ol,
ul {
  list-style: none;
}
